@mixin control-border() {
  border: 1px solid red;
}
@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin filter-sort-box() {
  background-color: $clr-primary-10;
  height: 80px;
  max-width: 98vw;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr;
  margin: $margin-left-rigth;
  border-radius: $radius;
  box-shadow: $dark-shadow;
  color: $clr-grey-1;
}
$clr-primary-1: hsl(43, 86%, 15%);
$clr-primary-2: hsl(43, 77%, 27%);
$clr-primary-3: hsl(43, 72%, 37%);
$clr-primary-4: hsl(42, 63%, 48%);
/* primary/main color */
$clr-primary-5: hsl(42, 78%, 60%);
/* lighter shades of primary color */
$clr-primary-6: hsl(43, 89%, 70%);
$clr-primary-7: hsl(43, 90%, 76%);
$clr-primary-8: hsl(45, 86%, 81%);
$clr-primary-9: hsl(45, 90%, 88%);
$clr-primary-10: hsl(45, 100%, 96%);
/* darkest grey - used for headings */
$clr-grey-1: hsl(209, 61%, 16%);
$clr-grey-2: hsl(211, 39%, 23%);
$clr-grey-3: hsl(209, 34%, 30%);
$clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-6: hsl(209, 23%, 60%);
$clr-grey-7: hsl(211, 27%, 70%);
$clr-grey-8: hsl(210, 31%, 80%);
$clr-grey-9: hsl(212, 33%, 89%);
$clr-grey-10: hsl(210, 36%, 96%);
$clr-white: #fff;
$ff-primary: "Roboto", sans-serif;
$ff-secondary: "Open Sans", sans-serif;
$transition: all 0.3s linear;
$spacing: 0.25rem;
$radius: 0.5rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$margin-container: 0.2rem;
$margin-left-rigth: 0rem 0.2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  color: $clr-grey-1;
  font-family: $ff-secondary;
  background: $clr-primary-10;
  line-height: 1.5;
  font-size: 0.875rem;
}

ul {
  list-style-type: none;
  padding: 0.2rem;
}
li {
  padding: 0.5rem;
  margin: 0.3rem 0.2rem;
}
h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: $clr-grey-5;
  font-style: $clr-grey-1;
}

.main-container {
  background-color: $clr-grey-4;
  display: grid;
  grid-template-columns: 100%;
  background-color: $clr-grey-10;
}
@media screen and (min-width: 992px) {
  .cell-1 {
    display: grid;
  }
  .cell-2 {
    position: static;
    display: grid;
    grid-area: b;
  }
  .cell-3 {
    position: static;
    display: grid;
    grid-area: c;
  }
}
.filter-sort_container {
  display: grid;
  @media screen and (min-width: 992px) {
    display: grid;
    column-gap: 15px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 100px);
    grid-template-areas:
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c"
      "b b c c c";
  }
}
.main-container_list-section {
  margin-top: 32vh;

  @media screen and (min-width: 992px) {
    display: grid;
    transition: $transition;
    margin-top: 15vh;
    height: 80vh;
  }
}
/****************************************************************************************

Filters and sort section styles

*****************************************************************************************/
.main-container_filter-section {
  background-color: $clr-grey-9;
  margin-top: 10vh;
  height: 21vh;
  display: grid;
  position: fixed;

  width: 100%;
  @media screen and (min-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: $transition;
    margin-top: 15vh;
    margin-left: 10px;
    height: 80vh;
    width: 39%;
    border-radius: $radius;
  }
}
.main-title {
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: $clr-grey-3;
  color: $clr-primary-5;
  text-align: center;
  padding: 0.3rem;
  @include flex-center();
  letter-spacing: 0.2rem;
  span {
    font-weight: 800;
    font-size: 1.5rem;
  }
  @media screen and (min-width: 990px) {
    transition: $transition;
    min-height: 13vh;
    span {
      font-weight: 1000;
      font-size: 2.2rem;
    }
  }
}

.filter-container {
  @include filter-sort-box();
  margin-top: 5px;
  p {
    padding-left: 0.5rem;
  }
  div {
    height: 80%;
    width: 35vw;
    display: grid;
    place-items: center;
  }
  label {
    font-weight: 700;
    text-transform: uppercase;
  }
  input {
    border-radius: 0.3rem;
    border-color: $clr-grey-8;
    height: 2rem;
    max-width: 40vw;
    font-size: 1.2rem;
  }
  @media screen and (min-width: 990px) {
    transition: $transition;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 50vh;
    width: 95%;
    max-width: 95%;
    align-items: center;
    div {
      height: 30%;
    }
    p {
      margin-top: 2%;
      font-size: 1.5rem;
      max-height: 10%;
    }
    input {
      width: 50%;
    }
  }
}

.sort-container {
  @include filter-sort-box();
  p {
    color: $clr-grey-1;
  }
  > p {
    padding-left: 8px;
    color: $clr-grey-5;
  }
  @media screen and (min-width: 390px) {
  }
  @media screen and (min-width: 990px) {
    transition: $transition;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 10px;
    min-height: 40vh;
    width: 95%;
    max-width: 95%;
    align-items: center;
    > p {
      font-size: 1.5rem;
      margin-top: 2%;
      max-height: 15%;
    }
  }
}
.btn {
  text-transform: uppercase;
  background: $clr-primary-5;
  color: $clr-primary-10;
  height: 30px;
  width: 30px;
  font-weight: 1000;
  -webkit-transition: $transition;
  transition: $transition;
  border: 1px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  &:hover {
    color: $clr-primary-1;
    background: $clr-primary-7;
  }
}

.btn-asc {
  transform: rotate(90deg);
}
.btn-desc {
  transform: rotate(-90deg);
}
.sort-btns {
  margin-top: 3px;
  height: 80%;
  width: 35vw;
  display: grid;
  place-items: center;
  p {
    margin-top: 2%;
    margin-bottom: 10%;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    min-height: 60%;
  }
  @media screen and (min-width: 992px) {
    transition: $transition;
    grid-template-rows: 1fr 1fr 1fr;
    width: 95%;
    align-items: center;
    height: 30%;
    p {
      max-height: 30%;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }
}

.sort-btns_btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.7rem;
}
//***************************************************************************************

/***************************************************************************************

List items section

*****************************************************************************************/
.list-container_list-section {
  position: relative;
}
.list-container {
  display: flex;
  flex-direction: column;
  border-radius: $radius;
  margin: 0.2rem;
  @media screen and (min-width: 990px) {
    transition: $transition;
    height: 90vh;
    max-width: 98%;
    margin-top: -1vh;
  }
}

.list-container_item {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 2px;
  height: 12rem;
  background-color: $clr-primary-8;
  border-radius: $radius;
  box-shadow: $light-shadow;
  @media screen and (min-width: 992px) {
    grid-template-columns: 30% 70%;
    grid-template-rows: 65% 35%;
    height: 6rem;
  }
}
.list-item_element {
  display: grid;
  grid-template-columns: 30% 70%;
  @media screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 0.2rem;
  }
}

.record-title {
  justify-content: left;
  padding-top: 2%;
  padding-left: 20%;
  font-size: 1rem;
  @media screen and (min-width: 992px) {
    display: grid;
    align-content: center;
  }
}
.record-value {
  padding-left: 15%;
  font-size: 1.1rem;
  font-weight: 700;
  @media screen and (min-width: 992px) {
    display: grid;
    align-content: center;
    padding-left: 15%;
    font-weight: 700;
  }
}
/*****************************************************************************************

Loading Spinnner

******************************************************************************************/
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

.spinner {
  animation: spinner 0.75s ease-in-out infinite;
  border: solid 0.5rem #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  position: absolute;
  left: 50%;
  top: 50%;
  @media screen and (min-width: 990px) {
    left: 70%;
  }
}
